.root{
  max-width: 1440px;
  background-color: #FCFCFC;
  margin: 0 auto;

}

.line{
  display: flex;
  height: 33.33vh;
  min-height: 210px;
  
}

.block{
  background-color: #4285F4;
  min-height: 200px;
  width: 100%;
  margin: 5px;
  border: black 1px solid;
  display: flex;

}

.first-block-hidden{
  display: none;
  /* visibility: hidden; */
}

.second-block-order{
  order: -1;
}

@media (max-width: 650px){
	.line{
    height: auto;
    flex-direction: column;

	}

}